.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80px;
    background-color: #fff;
    box-shadow: 0 3px 6px var(--shadow-color);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .logo{
    width: 48px;
    margin-top: 1em;
}

.nav-links{
    display: flex;
    flex-direction: column;
    list-style: none; 
    height: 100%;
    width: 100%;
    margin-top: 4em;
}

.nav-links .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
}

.nav-links .link svg{
    font-size: 2em;
    color: var(--text-light);
}

.link.active{
    border-right: 4px solid var(--primary-color);
}

.nav-links .link svg:hover{
    color: var(--text-color);
    cursor: pointer;
}