.navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--text-medium);
    font-size: 1em;;
}

.navbar .logo{
    font-size: 1.5em;
    font-weight: 800;
    color: var(--text-high);
    margin-right: 1.8em;
}


.navbar .account{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.navbar .account svg{
    margin-right: 0.5em;
}

.navbar .account:hover{
    color: var(--primary-color);
}

.navbar .account.active{
    color: var(--primary-color);
}